In [1]:
import pandas as pd

BASE = "/Data/baptiste.geisenberger/Data"
files = {
    "openImg":       f"{BASE}/openImg/client_data_mapping/train.csv",
    "google_speech": f"{BASE}/google_speech/client_data_mapping/train.csv",
    "femnist": f"{BASE}/femnist/client_data_mapping/train.csv",
    # "reddit": f"{BASE}/reddit/client_data_mapping/train.csv"
}

In [2]:
dfs = {}
for name, path in files.items():
    dfs[name] = pd.read_csv(path)
print("✅ All files loaded, keys:", list(dfs.keys()))

✅ All files loaded, keys: ['openImg', 'google_speech', 'femnist']

In [ ]:
# Select the dataframe
google_speech_df = dfs["google_speech"]

# Filter for client_id 1134
client_data = google_speech_df[google_speech_df["client_id"] == 1134]

# Print the datapoints
print(len(client_data))

117

In [ ]:
for name, df in dfs.items():
    print(f"▶ {name} — {len(df):,} rows × {df.shape[1]} cols")
    print("  Columns:", df.columns.tolist(), "\n")

▶ openImg — 1,229,351 rows × 4 cols
  Columns: ['client_id', 'sample_path', 'label_name', 'label_id']

▶ google_speech — 102,851 rows × 4 cols
  Columns: ['client_id', 'sample_path', 'label_name', 'label_id']

▶ femnist — 637,877 rows × 4 cols
  Columns: ['client_id', 'sample_path', 'label_name', 'label_id']

In [ ]:
for name, df in dfs.items():
    print(f"▶ {name} info:")
    df.info()
    print()

▶ openImg info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1229351 entries, 0 to 1229350
Data columns (total 4 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   client_id    1229351 non-null  int64
 1   sample_path  1229351 non-null  object
 2   label_name   1229351 non-null  object
 3   label_id     1229351 non-null  int64
dtypes: int64(2), object(2)
memory usage: 37.5+ MB

▶ google_speech info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102851 entries, 0 to 102850
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   client_id    102851 non-null  int64
 1   sample_path  102851 non-null  object
 2   label_name   102851 non-null  object
 3   label_id     102851 non-null  int64
dtypes: int64(2), object(2)
memory usage: 3.1+ MB

▶ femnist info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 637877 entries, 0 to 637876
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   client_id    637877 non-null  int64
 1   sample_path  637877 non-null  object
 2   label_name   637877 non-null  object
 3   label_id     637877 non-null  int64
dtypes: int64(2), object(2)
memory usage: 19.5+ MB

In [ ]:
for name, df in dfs.items():
    print(f"▶ {name} — 10 random rows")
    display(df.sample(10))

▶ openImg — 10 random rows

         client_id                       sample_path  label_name  label_id
896241        6735    042dab1e18cf8795___m_0dzct.jpg    _m_0dzct         0
645705        3249     a020ab4571139791___m_0k4j.jpg     _m_0k4j         5
1047601      10485    5b322fb258d71156___m_0zvk5.jpg    _m_0zvk5        54
832635        5591    e63a9a82ca9f78b9___m_0fly7.jpg    _m_0fly7        22
1194247      20003    9b6fabcc218a03c4___m_0dzct.jpg    _m_0dzct         0
265848         877    342f0d278ddc893b___m_0dzct.jpg    _m_0dzct         0
677546        3557   87e7286669c15b55___m_01bl7v.jpg   _m_01bl7v        20
1098918      12564    6a2ca6466f80c6c2___m_0dzct.jpg    _m_0dzct         0
798772        5051    f650af6670c87bd6___m_09j5n.jpg    _m_09j5n         3
981220        8502  3ba0ec96fa6f4b88___m_0283dt1.jpg  _m_0283dt1        14

▶ google_speech — 10 random rows

       client_id                     sample_path label_name  label_id
39041        706  backward_bd76a7fd_nohash_6.wav   backward        21
66797       1003     house_37dca74f_nohash_0.wav      house        18
2322         207        on_eaa83485_nohash_3.wav         on        27
24041       1939     eight_7c75a504_nohash_1.wav      eight        12
846           52       off_3d53244b_nohash_1.wav        off        26
42581        466     three_af790082_nohash_3.wav      three        19
5312        1306      nine_cb62dbf1_nohash_2.wav       nine        30
114          114    visual_f035e2ea_nohash_1.wav     visual        29
16676        637     happy_de3fe344_nohash_0.wav      happy         7
17417         31       one_ca4912b6_nohash_4.wav        one         6

▶ femnist — 10 random rows

,client_id,sample_path,label_name,label_id
536067,1037,data/raw_data/by_write/hsf_4/f2111_87/d2111_87...,31,51
272598,93,data/raw_data/by_write/hsf_1/f0796_08/d0796_08...,38,35
529099,620,data/raw_data/by_write/hsf_0/f0132_17/d0132_17...,39,3
15154,26,data/raw_data/by_write/hsf_1/f0702_46/c0702_46...,74,55
61533,3387,data/raw_data/by_write/hsf_7/f3990_02/l3990_02...,68,56
542726,208,data/raw_data/by_write/hsf_1/f0921_40/c0921_40...,52,59
322578,1640,data/raw_data/by_write/hsf_3/f1853_42/l1853_42...,7a,41
260500,2616,data/raw_data/by_write/hsf_6/f3414_29/d3414_29...,33,0
269809,3094,data/raw_data/by_write/hsf_6/f3302_29/d3302_29...,39,3
114125,1225,data/raw_data/by_write/hsf_4/f2217_71/d2217_71...,35,54

In [ ]:
for name, df in dfs.items():
    print(f"▶ {name} — describe()")
    display(df.describe(include="all"))

▶ openImg — describe()

           client_id                     sample_path label_name      label_id
count   1.229351e+06                         1229351    1229351  1.229351e+06
unique           NaN                         1229351        595           NaN
top              NaN  1ea021de60b3cd89___m_09j2d.jpg   _m_0dzct           NaN
freq             NaN                               1     148776           NaN
mean    5.063484e+03                             NaN        NaN  3.782155e+01
std     5.642415e+03                             NaN        NaN  6.727309e+01
min     0.000000e+00                             NaN        NaN  0.000000e+00
25%     1.017000e+03                             NaN        NaN  2.000000e+00
50%     2.952000e+03                             NaN        NaN  1.200000e+01
75%     7.260000e+03                             NaN        NaN  4.000000e+01
max     4.247900e+04                             NaN        NaN  5.950000e+02

▶ google_speech — describe()

            client_id                 sample_path label_name       label_id
count   102851.000000                      102851     102851  102851.000000
unique            NaN                      102851         35            NaN
top               NaN  five_f297e878_nohash_0.wav        yes            NaN
freq              NaN                           1       3961            NaN
mean       884.466685                         NaN        NaN      16.039397
std        603.260758                         NaN        NaN      10.162138
min          0.000000                         NaN        NaN       0.000000
25%        370.000000                         NaN        NaN       7.000000
50%        788.000000                         NaN        NaN      15.000000
75%       1333.000000                         NaN        NaN      25.000000
max       2186.000000                         NaN        NaN      34.000000

▶ femnist — describe()

,client_id,sample_path,label_name,label_id
count,637877.000000,637877,637877,637877.000000
unique,NaN,635078,62,NaN
top,NaN,data/raw_data/by_write/hsf_0/f0388_26/u0388_26...,31,NaN
freq,NaN,2,34868,NaN
mean,1563.989291,NaN,NaN,29.117836
std,1057.470160,NaN,NaN,19.683114
min,0.000000,NaN,NaN,0.000000
25%,620.000000,NaN,NaN,11.000000
50%,1416.000000,NaN,NaN,29.000000
75%,2458.000000,NaN,NaN,48.000000
max,3596.000000,NaN,NaN,61.000000

In [ ]:
for name, df in dfs.items():
    counts = df["client_id"].value_counts().sort_index()
    print(f"▶ {name}: {counts.size:,} unique clients")
    print("  Samples per client (first 10):")
    print(counts.head(10).to_dict())
    print("  Stats:", counts.describe().to_dict(), "\n")

▶ openImg: 11,325 unique clients
  Samples per client (first 10):
{0: 527, 2: 3451, 3: 116, 4: 454, 7: 83, 9: 30, 10: 2812, 11: 58, 12: 263, 14: 130}
  Stats: {'count': 11325.0, 'mean': 108.5519646799117, 'std': 211.63749111743905, 'min': 20.0, '25%': 30.0, '50%': 50.0, '75%': 103.0, 'max': 6709.0}

▶ google_speech: 2,167 unique clients
  Samples per client (first 10):
{0: 100, 1: 116, 2: 30, 3: 30, 4: 30, 5: 122, 6: 112, 7: 116, 8: 105, 9: 20}
  Stats: {'count': 2167.0, 'mean': 47.462390401476696, 'std': 36.79711968344838, 'min': 17.0, '25%': 29.0, '50%': 30.0, '75%': 33.0, 'max': 316.0}

▶ femnist: 2,800 unique clients
  Samples per client (first 10):
{0: 379, 1: 327, 2: 271, 3: 349, 4: 356, 5: 345, 7: 339, 9: 388, 10: 283, 11: 281}
  Stats: {'count': 2800.0, 'mean': 227.81321428571428, 'std': 89.0623886869481, 'min': 19.0, '25%': 166.0, '50%': 179.0, '75%': 308.0, 'max': 465.0}