In [8]:
import pandas as pd

BASE = "/Data/baptiste.geisenberger/Data"

files = {
    "openImg_train":       f"{BASE}/openImg/client_data_mapping/train.csv",
    "openImg_test":       f"{BASE}/openImg/client_data_mapping/test.csv",
    "openImg_val":       f"{BASE}/openImg/client_data_mapping/validation.csv",
    "openImg_train_og":       f"{BASE}/openImg/client_data_mapping_og/train.csv",
    "openImg_test_og":       f"{BASE}/openImg/client_data_mapping_og/test.csv",
    "openImg_val_og":       f"{BASE}/openImg/client_data_mapping_og/validation.csv",
    "openImg_train_og_remapped":       f"{BASE}/openImg/client_data_mapping_remapped/train.csv",
}



# files = {
#     "openImg":       f"{BASE}/openImg/client_data_mapping_og/train.csv",
#     "google_speech": f"{BASE}/google_speech/client_data_mapping_og/train.csv",
#     "femnist": f"{BASE}/femnist/client_data_mapping_og/train.csv",
#     "reddit": f"{BASE}/reddit/client_data_mapping_og/train.csv"
# }

In [9]:
dfs = {}
for name, path in files.items():
    dfs[name] = pd.read_csv(path)
print("✅ All files loaded, keys:", list(dfs.keys()))

✅ All files loaded, keys: ['openImg_train', 'openImg_test', 'openImg_val', 'openImg_train_og', 'openImg_test_og', 'openImg_val_og', 'openImg_train_og_remapped']

In [6]:
# Select the dataframe
google_speech_df = dfs["google_speech"]

# Filter for client_id 1134
client_data = google_speech_df[google_speech_df["client_id"] == 1134]

# Print the datapoints
print(len(client_data))

KeyError: 'google_speech'

In [ ]:
for name, df in dfs.items():
    print(f"▶ {name} — {len(df):,} rows × {df.shape[1]} cols")
    print("  Columns:", df.columns.tolist(), "\n")

▶ openImg_train — 1,452,311 rows × 4 cols
  Columns: ['client_id', 'sample_path', 'label_name', 'label_id']

▶ openImg_test — 190,135 rows × 4 cols
  Columns: ['client_id', 'sample_path', 'label_name', 'label_id']

▶ openImg_val — 63,063 rows × 4 cols
  Columns: ['client_id', 'sample_path', 'label_name', 'label_id']

▶ openImg_train_og — 1,229,351 rows × 4 cols
  Columns: ['client_id', 'sample_path', 'label_name', 'label_id']

In [ ]:
for name, df in dfs.items():
    print(f"▶ {name} info:")
    df.info()
    print()

▶ openImg_train info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1452311 entries, 0 to 1452310
Data columns (total 4 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   client_id    1452311 non-null  int64
 1   sample_path  1452311 non-null  object
 2   label_name   1452311 non-null  object
 3   label_id     1452311 non-null  int64
dtypes: int64(2), object(2)
memory usage: 44.3+ MB

▶ openImg_test info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190135 entries, 0 to 190134
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   client_id    190135 non-null  int64
 1   sample_path  190135 non-null  object
 2   label_name   190135 non-null  object
 3   label_id     190135 non-null  int64
dtypes: int64(2), object(2)
memory usage: 5.8+ MB

▶ openImg_val info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63063 entries, 0 to 63062
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   client_id    63063 non-null  int64
 1   sample_path  63063 non-null  object
 2   label_name   63063 non-null  object
 3   label_id     63063 non-null  int64
dtypes: int64(2), object(2)
memory usage: 1.9+ MB

▶ openImg_train_og info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1229351 entries, 0 to 1229350
Data columns (total 4 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   client_id    1229351 non-null  int64
 1   sample_path  1229351 non-null  object
 2   label_name   1229351 non-null  object
 3   label_id     1229351 non-null  int64
dtypes: int64(2), object(2)
memory usage: 37.5+ MB

In [ ]:
for name, df in dfs.items():
    print(f"▶ {name} — 10 random rows")
    display(df.sample(10))

▶ openImg_train — 10 random rows

         client_id                      sample_path label_name  label_id
1291142      11203   26066f29496bd29c___m_0d4v4.jpg   _m_0d4v4       481
980407        8539   77ae651e049ecea5___m_03jm5.jpg   _m_03jm5       240
1353626      11794  25f4145650b7ae13___m_0138tl.jpg  _m_0138tl         9
157353        1393   ba80093bdd05f691___m_09j5n.jpg   _m_09j5n       429
559001        4877   da86fb27bf740383___m_09j2d.jpg   _m_09j2d       428
215508        1919  1de7332761bb0490___m_01bl7v.jpg  _m_01bl7v        49
639814        5590   42532df9a8c7e76d___m_09j2d.jpg   _m_09j2d       428
978696        8526   19ee366a9313fb35___m_0dzct.jpg   _m_0dzct       498
438098        3917   eedd13691ef77ac6___m_09j2d.jpg   _m_09j2d       428
154285        1368  d78a5dabbc617f00___m_01ww8y.jpg  _m_01ww8y       109

▶ openImg_test — 10 random rows

        client_id                       sample_path  label_name  label_id
124939       8332   02384c3c04c4f5aa___m_039xj_.jpg   _m_039xj_       222
10891         717    195c6ee30e3ddb11___m_03q69.jpg    _m_03q69       252
89491        5858   785e94f7571930b5___m_01bqk0.jpg   _m_01bqk0        51
131985       8820    60c69059b4301b19___m_083wq.jpg    _m_083wq       404
124074       8271    a0c5e577c169edb2___m_09j5n.jpg    _m_09j5n       429
123963       8271    45f3b3f9caa5b78c___m_09j5n.jpg    _m_09j5n       429
57420        3684   eb71b3080adf1e57___m_025dyy.jpg   _m_025dyy       134
27431        1682   6a356b4b317fba15___m_05y5lj.jpg   _m_05y5lj       333
17872        1184  e4206d897b944be8___m_03bt1vf.jpg  _m_03bt1vf       227
50200        3174   66f7a45cf53b5900___m_04hgtk.jpg   _m_04hgtk       289

▶ openImg_val — 10 random rows

       client_id                       sample_path  label_name  label_id
49322       9809    fe67317504c74466___m_0hg7b.jpg    _m_0hg7b       550
36707       7283    926f812cd0bfdc86___m_07yv9.jpg    _m_07yv9       399
46050       9136    201f7542b0206399___m_0h9mv.jpg    _m_0h9mv       547
11473       2315   2bb371dc7d9c1509___m_035r7c.jpg   _m_035r7c       219
39367       7887    4285819d7ab87d7a___m_0dzct.jpg    _m_0dzct       498
48054       9545  af0808fe64664295___m_0283dt1.jpg  _m_0283dt1       146
15526       3161   d562ed18906bbb8b___m_04brg2.jpg   _m_04brg2       279
12439       2524     ecdb9f64d554efd7___m_0k4j.jpg     _m_0k4j       565
15805       3209    f01fa87e26297ae6___m_0dzf4.jpg    _m_0dzf4       499
62729      12565    f5d935c8fd3ef252___m_05s2s.jpg    _m_05s2s       330

▶ openImg_train_og — 10 random rows

         client_id                       sample_path  label_name  label_id
390779        1387    fdf3f54cf3fd02bc___m_0dzct.jpg    _m_0dzct         0
63967          145    58337818a91aef87___m_09j5n.jpg    _m_09j5n         3
870583        6241    35fe33451411b3d6___m_09j5n.jpg    _m_09j5n         3
16642           39    3960c409593ddbba___m_01bjv.jpg    _m_01bjv        61
875787        6339   f47e051de8fc61a3___m_0c9ph5.jpg   _m_0c9ph5         9
1067080      11201    407d988baf39ec69___m_0hg7b.jpg    _m_0hg7b        31
364772        1259    278b84ff77a75926___m_06msq.jpg    _m_06msq        35
103039         297   7a18654f2fa66e62___m_01fdzj.jpg   _m_01fdzj        18
53086          131    81e6839010406237___m_09j2d.jpg    _m_09j2d         1
158030         481  a86ca9c50c8ac440___m_0283dt1.jpg  _m_0283dt1        14

In [ ]:
for name, df in dfs.items():
    print(f"▶ {name} — describe()")
    display(df.describe(include="all"))

▶ openImg_train — describe()

           client_id                      sample_path label_name      label_id
count   1.452311e+06                          1452311    1452311  1.452311e+06
unique           NaN                          1452311        596           NaN
top              NaN  001a5504e05a1017___m_01knjb.jpg   _m_0dzct           NaN
freq             NaN                                1     173314           NaN
mean    6.334428e+03                              NaN        NaN  3.216916e+02
std     3.628618e+03                              NaN        NaN  1.717362e+02
min     0.000000e+00                              NaN        NaN  0.000000e+00
25%     3.198000e+03                              NaN        NaN  1.590000e+02
50%     6.345000e+03                              NaN        NaN  3.840000e+02
75%     9.476000e+03                              NaN        NaN  4.810000e+02
max     1.263900e+04                              NaN        NaN  5.950000e+02

▶ openImg_test — describe()

,client_id,sample_path,label_name,label_id
count,190135.000000,190135,190135,190135.000000
unique,NaN,190135,576,NaN
top,NaN,1bdb699e7952718f___m_09j2d.jpg,_m_0k4j,NaN
freq,NaN,1,10589,NaN
mean,6281.812617,NaN,NaN,325.077098
std,3688.736121,NaN,NaN,172.258340
min,0.000000,NaN,NaN,0.000000
25%,2997.000000,NaN,NaN,187.000000
50%,6263.000000,NaN,NaN,330.000000
75%,9440.000000,NaN,NaN,466.500000
max,12639.000000,NaN,NaN,595.000000

▶ openImg_val — describe()

           client_id                      sample_path label_name      label_id
count   63063.000000                            63063      63063  63063.000000
unique           NaN                            63063        561           NaN
top              NaN  10be3f29312a3b84___m_0bt9lr.jpg    _m_0k4j           NaN
freq             NaN                                1       3490           NaN
mean     6306.280164                              NaN        NaN    324.934161
std      3638.776633                              NaN        NaN    171.963906
min         0.000000                              NaN        NaN      0.000000
25%      3199.000000                              NaN        NaN    187.000000
50%      6245.000000                              NaN        NaN    329.000000
75%      9362.500000                              NaN        NaN    466.000000
max     12639.000000                              NaN        NaN    595.000000

▶ openImg_train_og — describe()

           client_id                     sample_path label_name      label_id
count   1.229351e+06                         1229351    1229351  1.229351e+06
unique           NaN                         1229351        595           NaN
top              NaN  1ea021de60b3cd89___m_09j2d.jpg   _m_0dzct           NaN
freq             NaN                               1     148776           NaN
mean    5.063484e+03                             NaN        NaN  3.782155e+01
std     5.642415e+03                             NaN        NaN  6.727309e+01
min     0.000000e+00                             NaN        NaN  0.000000e+00
25%     1.017000e+03                             NaN        NaN  2.000000e+00
50%     2.952000e+03                             NaN        NaN  1.200000e+01
75%     7.260000e+03                             NaN        NaN  4.000000e+01
max     4.247900e+04                             NaN        NaN  5.950000e+02

In [10]:
for name, df in dfs.items():
    counts = df["client_id"].value_counts().sort_index()
    print(f"▶ {name}: {counts.size:,} unique clients")
    print("  Samples per client (first 10):")
    print(counts.head(10).to_dict())
    print("  Stats:", counts.describe().to_dict(), "\n")

▶ openImg_train: 12,640 unique clients
  Samples per client (first 10):
{0: 76, 1: 50, 2: 52, 3: 300, 4: 53, 5: 253, 6: 60, 7: 65, 8: 135, 9: 45}
  Stats: {'count': 12640.0, 'mean': 114.89802215189873, 'std': 167.81374333697912, 'min': 44.0, '25%': 58.0, '50%': 73.0, '75%': 110.0, 'max': 6934.0}

▶ openImg_test: 12,640 unique clients
  Samples per client (first 10):
{0: 6, 1: 6, 2: 6, 3: 13, 4: 11, 5: 5, 6: 5, 7: 5, 8: 80, 9: 6}
  Stats: {'count': 12640.0, 'mean': 15.042325949367088, 'std': 28.739048944264518, 'min': 2.0, '25%': 5.0, '50%': 7.0, '75%': 15.0, 'max': 908.0}

▶ openImg_val: 12,639 unique clients
  Samples per client (first 10):
{0: 5, 1: 7, 2: 3, 3: 4, 4: 4, 5: 13, 6: 3, 7: 3, 8: 3, 9: 2}
  Stats: {'count': 12639.0, 'mean': 4.989556135770235, 'std': 11.996308913687278, 'min': 1.0, '25%': 2.0, '50%': 2.0, '75%': 5.0, 'max': 875.0}

▶ openImg_train_og: 11,325 unique clients
  Samples per client (first 10):
{0: 527, 2: 3451, 3: 116, 4: 454, 7: 83, 9: 30, 10: 2812, 11: 58, 12: 263, 14: 130}
  Stats: {'count': 11325.0, 'mean': 108.5519646799117, 'std': 211.63749111743905, 'min': 20.0, '25%': 30.0, '50%': 50.0, '75%': 103.0, 'max': 6709.0}

▶ openImg_test_og: 24,870 unique clients
  Samples per client (first 10):
{0: 106, 1: 40, 2: 29, 3: 12, 4: 22, 5: 6, 6: 8, 7: 115, 8: 9, 9: 62}
  Stats: {'count': 24870.0, 'mean': 7.645154804985927, 'std': 13.397322796689718, 'min': 1.0, '25%': 2.0, '50%': 4.0, '75%': 8.0, 'max': 289.0}

▶ openImg_val_og: 13,215 unique clients
  Samples per client (first 10):
{0: 8, 1: 37, 2: 3, 3: 8, 4: 9, 5: 93, 6: 2, 7: 15, 8: 5, 9: 9}
  Stats: {'count': 13215.0, 'mean': 4.772077185017026, 'std': 6.270668844833167, 'min': 1.0, '25%': 1.0, '50%': 3.0, '75%': 6.0, 'max': 109.0}

▶ openImg_train_og_remapped: 11,325 unique clients
  Samples per client (first 10):
{0: 527, 2: 3451, 3: 116, 4: 454, 7: 83, 9: 30, 10: 2812, 11: 58, 12: 263, 14: 130}
  Stats: {'count': 11325.0, 'mean': 108.5519646799117, 'std': 211.63749111743905, 'min': 20.0, '25%': 30.0, '50%': 50.0, '75%': 103.0, 'max': 6709.0}

In [1]:
# Inspect FedScale client mapping CSV comprehensively

import os
import pandas as pd
import numpy as np

# Path to mapping CSV
CSV_PATH = "/Data/baptiste.geisenberger/Data/stackoverflow/client_data_mapping/result.csv"

# Display options to avoid truncation
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 160)
pd.set_option('display.max_colwidth', 120)
pd.set_option('display.max_rows', 50)

def fmt_bytes(n):
    try:
        n = int(n)
    except Exception:
        return str(n)
    for u in ['B','KB','MB','GB','TB','PB']:
        if n < 1024:
            return f'{n:.1f} {u}'
        n /= 1024
    return f'{n:.1f} EB'

print("=== File Info ===")
print(f"File: {CSV_PATH}")
exists = os.path.exists(CSV_PATH)
print(f"Exists: {exists}")
if not exists:
    raise FileNotFoundError(CSV_PATH)
print(f"Size : {fmt_bytes(os.path.getsize(CSV_PATH))}")

# Load CSV (let pandas infer dtypes to keep general)
df = pd.read_csv(CSV_PATH)
n_rows, n_cols = df.shape
print("\n=== DataFrame Shape ===")
print(f"Rows: {n_rows:,}, Cols: {n_cols}")

print("\n=== Columns ===")
print(list(df.columns))

print("\n=== DTypes ===")
print(df.dtypes)

try:
    df_mem = df.memory_usage(deep=True).sum()
    print(f"\nEstimated DataFrame RAM: {fmt_bytes(df_mem)}")
except Exception:
    pass

# Missing values summary
print("\n=== Missing Values Per Column ===")
nulls = df.isna().sum().to_frame('null_count')
nulls['non_null'] = len(df) - nulls['null_count']
nulls['null_frac'] = (nulls['null_count'] / len(df)).round(6)
print(nulls)

# Per-column statistics and examples
print("\n=== Per-Column Statistics and Examples ===")
for col in df.columns:
    s = df[col]
    print("\n" + "="*100)
    print(f"Column: {col}")
    print(f"  dtype: {s.dtype}")
    nuniq = s.nunique(dropna=True)
    print(f"  unique values: {nuniq:,}")
    # Numeric vs non-numeric summary
    if np.issubdtype(s.dtype, np.number):
        desc = s.describe(percentiles=[.01, .05, .25, .5, .75, .95, .99])
        print("  numeric summary:")
        print(desc)
    else:
        # Show up to 10 distinct example values
        ex_vals = s.dropna().unique()[:10]
        print("  example values (up to 10):", ex_vals)
    # Top value counts
    vc = s.value_counts(dropna=True).head(10)
    print("  top value_counts (top 10):")
    print(vc)

# Client distribution summary (if client_id present)
if 'client_id' in df.columns:
    print("\n" + "*" * 100)
    print("Client sample counts summary (by client_id)")
    cid_counts = df['client_id'].value_counts().sort_index()
    print("\nCounts describe (clients as rows):")
    print(cid_counts.describe(percentiles=[.01,.05,.25,.5,.75,.95,.99]))
    print("\nTop 10 clients by number of samples:")
    print(cid_counts.sort_values(ascending=False).head(10))
    print("\nBottom 10 clients by number of samples:")
    print(cid_counts.sort_values(ascending=True).head(10))
    # Simple imbalance metric: Gini coefficient
    def gini(x):
        v = np.sort(x.values.astype(np.float64))
        if v.size == 0:
            return np.nan
        i = np.arange(1, v.size + 1)
        return (np.sum((2*i - v.size - 1) * v) / (v.size * np.sum(v)))
    try:
        print(f"\nGini coefficient (client sample imbalance): {gini(cid_counts):.4f}")
    except Exception as e:
        print("Could not compute Gini:", e)

# sample_path integrity checks (if present)
if 'sample_path' in df.columns and np.issubdtype(df['sample_path'].dtype, np.number):
    print("\n" + "*" * 100)
    print("sample_path integrity checks")
    sp = df['sample_path']
    sp_min, sp_max, sp_n, sp_uniq = int(sp.min()), int(sp.max()), len(sp), sp.nunique()
    dups = int(sp.duplicated().sum())
    print(f"min={sp_min}, max={sp_max}, n={sp_n:,}, unique={sp_uniq:,}, duplicated_entries={dups:,}")
    if dups == 0 and sp_min == 0 and sp_max == sp_n - 1:
        print("Appears to be a contiguous 0..N-1 index (no duplicates).")
    else:
        # Show a few missing indices if close to contiguous
        try:
            if sp_max - sp_min <= 2_000_000 and sp_uniq <= 2_000_000:
                missing = sorted(set(range(sp_min, sp_max + 1)) - set(sp.astype(int).values))
                print(f"Missing indices within [{sp_min}..{sp_max}]: {len(missing)} (showing up to 20): {missing[:20]}")
            else:
                print("Range is large; skipping explicit missing-index enumeration.")
        except Exception as e:
            print("Could not enumerate missing indices:", e)

# Label-like columns quick checks
for cand in ['label_name', 'label_id']:
    if cand in df.columns:
        print("\n" + "*" * 100)
        print(f"{cand} quick summary")
        s = df[cand]
        print("value_counts (top 10, including NaN):")
        print(s.value_counts(dropna=False).head(10))
        if np.issubdtype(s.dtype, np.number):
            try:
                print("min/max:", s.min(), s.max())
            except Exception:
                pass

# Example rows
print("\n" + "="*100)
print("Examples: head(5)")
print(df.head(5))
print("\nExamples: tail(5)")
print(df.tail(5))
try:
    print("\nExamples: random sample(5)")
    print(df.sample(5, random_state=42))
except Exception:
    pass

print("\n=== Done ===")

=== File Info ===
File: /Data/baptiste.geisenberger/Data/stackoverflow/client_data_mapping/result.csv
Exists: True
Size : 103.7 MB

=== DataFrame Shape ===
Rows: 5,120,037, Cols: 4

=== Columns ===
['client_id', 'sample_path', 'label_name', 'label_id']

=== DTypes ===
client_id      int64
sample_path    int64
label_name     int64
label_id       int64
dtype: object

Estimated DataFrame RAM: 156.3 MB

=== Missing Values Per Column ===
             null_count  non_null  null_frac
client_id             0   5120037        0.0
sample_path           0   5120037        0.0
label_name            0   5120037        0.0
label_id              0   5120037        0.0

=== Per-Column Statistics and Examples ===

====================================================================================================
Column: client_id
  dtype: int64
  unique values: 193,054
  numeric summary:
count    5.120037e+06
mean     9.988895e+04
std      5.416190e+04
min      0.000000e+00
1%       2.275000e+03
5%       1.252400e+04
25%      5.810900e+04
50%      1.006940e+05
75%      1.410730e+05
95%      1.914830e+05
99%      2.017290e+05
max      2.040720e+05
Name: client_id, dtype: float64
  top value_counts (top 10):
client_id
161402    16420
34254     12376
155589    10379
142954     9391
130141     7577
145234     5858
165032     5333
108777     5286
198531     5257
187551     5074
Name: count, dtype: int64

====================================================================================================
Column: sample_path
  dtype: int64
  unique values: 5,120,037
  numeric summary:
count    5.120037e+06
mean     2.560018e+06
std      1.478028e+06
min      0.000000e+00
1%       5.120036e+04
5%       2.560018e+05
25%      1.280009e+06
50%      2.560018e+06
75%      3.840027e+06
95%      4.864034e+06
99%      5.068836e+06
max      5.120036e+06
Name: sample_path, dtype: float64
  top value_counts (top 10):
sample_path
0          1
3413355    1
3413362    1
3413361    1
3413360    1
3413359    1
3413358    1
3413357    1
3413356    1
3413354    1
Name: count, dtype: int64

====================================================================================================
Column: label_name
  dtype: int64
  unique values: 1
  numeric summary:
count    5120037.0
mean          -1.0
std            0.0
min           -1.0
1%            -1.0
5%            -1.0
25%           -1.0
50%           -1.0
75%           -1.0
95%           -1.0
99%           -1.0
max           -1.0
Name: label_name, dtype: float64
  top value_counts (top 10):
label_name
-1    5120037
Name: count, dtype: int64

====================================================================================================
Column: label_id
  dtype: int64
  unique values: 1
  numeric summary:
count    5120037.0
mean          -1.0
std            0.0
min           -1.0
1%            -1.0
5%            -1.0
25%           -1.0
50%           -1.0
75%           -1.0
95%           -1.0
99%           -1.0
max           -1.0
Name: label_id, dtype: float64
  top value_counts (top 10):
label_id
-1    5120037
Name: count, dtype: int64

****************************************************************************************************
Client sample counts summary (by client_id)

Counts describe (clients as rows):
count    193054.000000
mean         26.521269
std         105.821277
min           1.000000
1%            1.000000
5%            1.000000
25%           4.000000
50%          10.000000
75%          25.000000
95%          86.000000
99%         252.000000
max       16420.000000
Name: count, dtype: float64

Top 10 clients by number of samples:
client_id
161402    16420
34254     12376
155589    10379
142954     9391
130141     7577
145234     5858
165032     5333
108777     5286
198531     5257
187551     5074
Name: count, dtype: int64

Bottom 10 clients by number of samples:
client_id
23452     1
160298    1
160306    1
105983    1
160315    1
105971    1
16128     1
105942    1
106084    1
160319    1
Name: count, dtype: int64

Gini coefficient (client sample imbalance): 0.6928

****************************************************************************************************
sample_path integrity checks
min=0, max=5120036, n=5,120,037, unique=5,120,037, duplicated_entries=0
Appears to be a contiguous 0..N-1 index (no duplicates).

****************************************************************************************************
label_name quick summary
value_counts (top 10, including NaN):
label_name
-1    5120037
Name: count, dtype: int64
min/max: -1 -1

****************************************************************************************************
label_id quick summary
value_counts (top 10, including NaN):
label_id
-1    5120037
Name: count, dtype: int64
min/max: -1 -1

====================================================================================================
Examples: head(5)
   client_id  sample_path  label_name  label_id
0          0            0          -1        -1
1          0            1          -1        -1
2          0            2          -1        -1
3          0            3          -1        -1
4          0            4          -1        -1

Examples: tail(5)
         client_id  sample_path  label_name  label_id
5120032     204070      5120032          -1        -1
5120033     204070      5120033          -1        -1
5120034     204070      5120034          -1        -1
5120035     204072      5120035          -1        -1
5120036     204072      5120036          -1        -1

Examples: random sample(5)
         client_id  sample_path  label_name  label_id
316361       15463       316361          -1        -1
300284       14731       300284          -1        -1
4253841     161402      4253841          -1        -1
3499311     123881      3499311          -1        -1
4121641     155589      4121641          -1        -1

=== Done ===

In [1]:
# Inspect FedScale client mapping CSV comprehensively

import os
import pandas as pd
import numpy as np

# Path to mapping CSV
CSV_PATH = "../benchmark/dataset/data/openImg_client_data_mapping_og/train.csv"

# Display options to avoid truncation
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 160)
pd.set_option('display.max_colwidth', 120)
pd.set_option('display.max_rows', 50)

def fmt_bytes(n):
    try:
        n = int(n)
    except Exception:
        return str(n)
    for u in ['B','KB','MB','GB','TB','PB']:
        if n < 1024:
            return f'{n:.1f} {u}'
        n /= 1024
    return f'{n:.1f} EB'

print("=== File Info ===")
print(f"File: {CSV_PATH}")
exists = os.path.exists(CSV_PATH)
print(f"Exists: {exists}")
if not exists:
    raise FileNotFoundError(CSV_PATH)
print(f"Size : {fmt_bytes(os.path.getsize(CSV_PATH))}")

# Load CSV (let pandas infer dtypes to keep general)
df = pd.read_csv(CSV_PATH)
n_rows, n_cols = df.shape
print("\n=== DataFrame Shape ===")
print(f"Rows: {n_rows:,}, Cols: {n_cols}")

print("\n=== Columns ===")
print(list(df.columns))

print("\n=== DTypes ===")
print(df.dtypes)

try:
    df_mem = df.memory_usage(deep=True).sum()
    print(f"\nEstimated DataFrame RAM: {fmt_bytes(df_mem)}")
except Exception:
    pass

# Missing values summary
print("\n=== Missing Values Per Column ===")
nulls = df.isna().sum().to_frame('null_count')
nulls['non_null'] = len(df) - nulls['null_count']
nulls['null_frac'] = (nulls['null_count'] / len(df)).round(6)
print(nulls)

# Per-column statistics and examples
print("\n=== Per-Column Statistics and Examples ===")
for col in df.columns:
    s = df[col]
    print("\n" + "="*100)
    print(f"Column: {col}")
    print(f"  dtype: {s.dtype}")
    nuniq = s.nunique(dropna=True)
    print(f"  unique values: {nuniq:,}")
    # Numeric vs non-numeric summary
    if np.issubdtype(s.dtype, np.number):
        desc = s.describe(percentiles=[.01, .05, .25, .5, .75, .95, .99])
        print("  numeric summary:")
        print(desc)
    else:
        # Show up to 10 distinct example values
        ex_vals = s.dropna().unique()[:10]
        print("  example values (up to 10):", ex_vals)
    # Top value counts
    vc = s.value_counts(dropna=True).head(10)
    print("  top value_counts (top 10):")
    print(vc)

# Client distribution summary (if client_id present)
if 'client_id' in df.columns:
    print("\n" + "*" * 100)
    print("Client sample counts summary (by client_id)")
    cid_counts = df['client_id'].value_counts().sort_index()
    print("\nCounts describe (clients as rows):")
    print(cid_counts.describe(percentiles=[.01,.05,.25,.5,.75,.95,.99]))
    print("\nTop 10 clients by number of samples:")
    print(cid_counts.sort_values(ascending=False).head(10))
    print("\nBottom 10 clients by number of samples:")
    print(cid_counts.sort_values(ascending=True).head(10))
    # Simple imbalance metric: Gini coefficient
    def gini(x):
        v = np.sort(x.values.astype(np.float64))
        if v.size == 0:
            return np.nan
        i = np.arange(1, v.size + 1)
        return (np.sum((2*i - v.size - 1) * v) / (v.size * np.sum(v)))
    try:
        print(f"\nGini coefficient (client sample imbalance): {gini(cid_counts):.4f}")
    except Exception as e:
        print("Could not compute Gini:", e)

# sample_path integrity checks (if present)
if 'sample_path' in df.columns and np.issubdtype(df['sample_path'].dtype, np.number):
    print("\n" + "*" * 100)
    print("sample_path integrity checks")
    sp = df['sample_path']
    sp_min, sp_max, sp_n, sp_uniq = int(sp.min()), int(sp.max()), len(sp), sp.nunique()
    dups = int(sp.duplicated().sum())
    print(f"min={sp_min}, max={sp_max}, n={sp_n:,}, unique={sp_uniq:,}, duplicated_entries={dups:,}")
    if dups == 0 and sp_min == 0 and sp_max == sp_n - 1:
        print("Appears to be a contiguous 0..N-1 index (no duplicates).")
    else:
        # Show a few missing indices if close to contiguous
        try:
            if sp_max - sp_min <= 2_000_000 and sp_uniq <= 2_000_000:
                missing = sorted(set(range(sp_min, sp_max + 1)) - set(sp.astype(int).values))
                print(f"Missing indices within [{sp_min}..{sp_max}]: {len(missing)} (showing up to 20): {missing[:20]}")
            else:
                print("Range is large; skipping explicit missing-index enumeration.")
        except Exception as e:
            print("Could not enumerate missing indices:", e)

# Label-like columns quick checks
for cand in ['label_name', 'label_id']:
    if cand in df.columns:
        print("\n" + "*" * 100)
        print(f"{cand} quick summary")
        s = df[cand]
        print("value_counts (top 10, including NaN):")
        print(s.value_counts(dropna=False).head(10))
        if np.issubdtype(s.dtype, np.number):
            try:
                print("min/max:", s.min(), s.max())
            except Exception:
                pass

# Example rows
print("\n" + "="*100)
print("Examples: head(5)")
print(df.head(5))
print("\nExamples: tail(5)")
print(df.tail(5))
try:
    print("\nExamples: random sample(5)")
    print(df.sample(5, random_state=42))
except Exception:
    pass

print("\n=== Done ===")

=== File Info ===
File: ../benchmark/dataset/data/openImg_client_data_mapping_og/train.csv
Exists: True
Size : 57.8 MB

=== DataFrame Shape ===
Rows: 1,229,351, Cols: 4

=== Columns ===
['client_id', 'sample_path', 'label_name', 'label_id']

=== DTypes ===
client_id       int64
sample_path    object
label_name     object
label_id        int64
dtype: object

Estimated DataFrame RAM: 197.9 MB

=== Missing Values Per Column ===
             null_count  non_null  null_frac
client_id             0   1229351        0.0
sample_path           0   1229351        0.0
label_name            0   1229351        0.0
label_id              0   1229351        0.0

=== Per-Column Statistics and Examples ===

====================================================================================================
Column: client_id
  dtype: int64
  unique values: 11,325
  numeric summary:
count    1.229351e+06
mean     5.063484e+03
std      5.642415e+03
min      0.000000e+00
1%       2.600000e+01
5%       1.430000e+02
25%      1.017000e+03
50%      2.952000e+03
75%      7.260000e+03
95%      1.704300e+04
99%      2.513500e+04
max      4.247900e+04
Name: client_id, dtype: float64
  top value_counts (top 10):
client_id
131     6709
578     3794
1017    3744
504     3645
2       3451
143     3247
1759    3243
366     2951
436     2938
569     2846
Name: count, dtype: int64

====================================================================================================
Column: sample_path
  dtype: object
  unique values: 1,229,351
  example values (up to 10): ['1ea021de60b3cd89___m_09j2d.jpg' 'cae40be4017c90fd___m_09j2d.jpg'
 'fd30ab5d0338b876___m_09j2d.jpg' '5caf08a56dbc5355___m_09j2d.jpg'
 '6f52c7b038c24e92___m_09j2d.jpg' 'ed8d62e20306328d___m_09j2d.jpg'
 'bdfd0d4b05394a59___m_09j2d.jpg' '19878e28e9eb55ae___m_09j2d.jpg'
 '4bd02f48b419a3ba___m_09j2d.jpg' '10464792a718e56b___m_09j2d.jpg']
  top value_counts (top 10):
sample_path
1ea021de60b3cd89___m_09j2d.jpg     1
1fffb1e23bb0f2fc___m_02xwb.jpg     1
f2c2540cb111ab21___m_033rq4.jpg    1
3a92389deb1bf640___m_0zvk5.jpg     1
22936bce812849a1___m_01_bhs.jpg    1
faa74a34d48ea979___m_01jfm_.jpg    1
3203075cab00cec6___m_035r7c.jpg    1
afa621c40f4c6050___m_02dgv.jpg     1
3a92389deb1bf640___m_04_sv.jpg     1
e616d8f02c7d9828___m_079cl.jpg     1
Name: count, dtype: int64

====================================================================================================
Column: label_name
  dtype: object
  unique values: 595
  example values (up to 10): ['_m_09j2d' '_m_01g317' '_m_07j7r' '_m_0k4j' '_m_0d4v4' '_m_04yx4'
 '_m_083wq' '_m_01prls' '_m_0138tl' '_m_0cmf2']
  top value_counts (top 10):
label_name
_m_0dzct     148776
_m_09j2d     115379
_m_01g317     70436
_m_09j5n      45591
_m_0k4j       40573
_m_07j7r      39139
_m_0d4v4      30413
_m_04yx4      29256
_m_03jm5      28768
_m_0c9ph5     23893
Name: count, dtype: int64

====================================================================================================
Column: label_id
  dtype: int64
  unique values: 595
  numeric summary:
count    1.229351e+06
mean     3.782155e+01
std      6.727309e+01
min      0.000000e+00
1%       0.000000e+00
5%       0.000000e+00
25%      2.000000e+00
50%      1.200000e+01
75%      4.000000e+01
95%      1.780000e+02
99%      3.420000e+02
max      5.950000e+02
Name: label_id, dtype: float64
  top value_counts (top 10):
label_id
0    148776
1    115379
2     70436
3     45591
5     40573
4     39139
6     30413
7     29256
8     28768
9     23893
Name: count, dtype: int64

****************************************************************************************************
Client sample counts summary (by client_id)

Counts describe (clients as rows):
count    11325.000000
mean       108.551965
std        211.637491
min         20.000000
1%          20.000000
5%          21.000000
25%         30.000000
50%         50.000000
75%        103.000000
95%        367.600000
99%        957.840000
max       6709.000000
Name: count, dtype: float64

Top 10 clients by number of samples:
client_id
131     6709
578     3794
1017    3744
504     3645
2       3451
143     3247
1759    3243
366     2951
436     2938
569     2846
Name: count, dtype: int64

Bottom 10 clients by number of samples:
client_id
19434    20
14710    20
14751    20
27015    20
14792    20
14900    20
5928     20
14974    20
4623     20
27120    20
Name: count, dtype: int64

Gini coefficient (client sample imbalance): 0.5775

****************************************************************************************************
label_name quick summary
value_counts (top 10, including NaN):
label_name
_m_0dzct     148776
_m_09j2d     115379
_m_01g317     70436
_m_09j5n      45591
_m_0k4j       40573
_m_07j7r      39139
_m_0d4v4      30413
_m_04yx4      29256
_m_03jm5      28768
_m_0c9ph5     23893
Name: count, dtype: int64

****************************************************************************************************
label_id quick summary
value_counts (top 10, including NaN):
label_id
0    148776
1    115379
2     70436
3     45591
5     40573
4     39139
6     30413
7     29256
8     28768
9     23893
Name: count, dtype: int64
min/max: 0 595

====================================================================================================
Examples: head(5)
   client_id                     sample_path label_name  label_id
0          0  1ea021de60b3cd89___m_09j2d.jpg   _m_09j2d         1
1          0  cae40be4017c90fd___m_09j2d.jpg   _m_09j2d         1
2          0  fd30ab5d0338b876___m_09j2d.jpg   _m_09j2d         1
3          0  5caf08a56dbc5355___m_09j2d.jpg   _m_09j2d         1
4          0  6f52c7b038c24e92___m_09j2d.jpg   _m_09j2d         1

Examples: tail(5)
         client_id                       sample_path  label_name  label_id
1229346      42479  bf6a98100e44e1c1___m_03bt1vf.jpg  _m_03bt1vf        16
1229347      42479   aa48e1eea23def82___m_014sv8.jpg   _m_014sv8        17
1229348      42479    92f91783d2425d30___m_02wbm.jpg    _m_02wbm        30
1229349      42479    826f487e2e98efc4___m_0jyfg.jpg    _m_0jyfg        92
1229350      42479  826f487e2e98efc4___m_01z1kdw.jpg  _m_01z1kdw       209

Examples: random sample(5)
         client_id                       sample_path  label_name  label_id
544854        2391   10c0ee556c52de9b___m_01g317.jpg   _m_01g317         2
415072        1512   4515aa6e099b8e16___m_01fdzj.jpg   _m_01fdzj        18
1100016      12615    80cfccc81a44bd43___m_0dzct.jpg    _m_0dzct         0
269984         891   cb6b134b924fae44___m_0463sg.jpg   _m_0463sg        21
276601         910  e180e65795ede414___m_02p0tk3.jpg  _m_02p0tk3        12

=== Done ===

In [2]:
# Inspect FedScale client mapping CSV comprehensively

import os
import pandas as pd
import numpy as np

# Path to mapping CSV
CSV_PATH = "../benchmark/dataset/data/openImg_client_data_mapping_og/test.csv"

# Display options to avoid truncation
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 160)
pd.set_option('display.max_colwidth', 120)
pd.set_option('display.max_rows', 50)

def fmt_bytes(n):
    try:
        n = int(n)
    except Exception:
        return str(n)
    for u in ['B','KB','MB','GB','TB','PB']:
        if n < 1024:
            return f'{n:.1f} {u}'
        n /= 1024
    return f'{n:.1f} EB'

print("=== File Info ===")
print(f"File: {CSV_PATH}")
exists = os.path.exists(CSV_PATH)
print(f"Exists: {exists}")
if not exists:
    raise FileNotFoundError(CSV_PATH)
print(f"Size : {fmt_bytes(os.path.getsize(CSV_PATH))}")

# Load CSV (let pandas infer dtypes to keep general)
df = pd.read_csv(CSV_PATH)
n_rows, n_cols = df.shape
print("\n=== DataFrame Shape ===")
print(f"Rows: {n_rows:,}, Cols: {n_cols}")

print("\n=== Columns ===")
print(list(df.columns))

print("\n=== DTypes ===")
print(df.dtypes)

try:
    df_mem = df.memory_usage(deep=True).sum()
    print(f"\nEstimated DataFrame RAM: {fmt_bytes(df_mem)}")
except Exception:
    pass

# Missing values summary
print("\n=== Missing Values Per Column ===")
nulls = df.isna().sum().to_frame('null_count')
nulls['non_null'] = len(df) - nulls['null_count']
nulls['null_frac'] = (nulls['null_count'] / len(df)).round(6)
print(nulls)

# Per-column statistics and examples
print("\n=== Per-Column Statistics and Examples ===")
for col in df.columns:
    s = df[col]
    print("\n" + "="*100)
    print(f"Column: {col}")
    print(f"  dtype: {s.dtype}")
    nuniq = s.nunique(dropna=True)
    print(f"  unique values: {nuniq:,}")
    # Numeric vs non-numeric summary
    if np.issubdtype(s.dtype, np.number):
        desc = s.describe(percentiles=[.01, .05, .25, .5, .75, .95, .99])
        print("  numeric summary:")
        print(desc)
    else:
        # Show up to 10 distinct example values
        ex_vals = s.dropna().unique()[:10]
        print("  example values (up to 10):", ex_vals)
    # Top value counts
    vc = s.value_counts(dropna=True).head(10)
    print("  top value_counts (top 10):")
    print(vc)

# Client distribution summary (if client_id present)
if 'client_id' in df.columns:
    print("\n" + "*" * 100)
    print("Client sample counts summary (by client_id)")
    cid_counts = df['client_id'].value_counts().sort_index()
    print("\nCounts describe (clients as rows):")
    print(cid_counts.describe(percentiles=[.01,.05,.25,.5,.75,.95,.99]))
    print("\nTop 10 clients by number of samples:")
    print(cid_counts.sort_values(ascending=False).head(10))
    print("\nBottom 10 clients by number of samples:")
    print(cid_counts.sort_values(ascending=True).head(10))
    # Simple imbalance metric: Gini coefficient
    def gini(x):
        v = np.sort(x.values.astype(np.float64))
        if v.size == 0:
            return np.nan
        i = np.arange(1, v.size + 1)
        return (np.sum((2*i - v.size - 1) * v) / (v.size * np.sum(v)))
    try:
        print(f"\nGini coefficient (client sample imbalance): {gini(cid_counts):.4f}")
    except Exception as e:
        print("Could not compute Gini:", e)

# sample_path integrity checks (if present)
if 'sample_path' in df.columns and np.issubdtype(df['sample_path'].dtype, np.number):
    print("\n" + "*" * 100)
    print("sample_path integrity checks")
    sp = df['sample_path']
    sp_min, sp_max, sp_n, sp_uniq = int(sp.min()), int(sp.max()), len(sp), sp.nunique()
    dups = int(sp.duplicated().sum())
    print(f"min={sp_min}, max={sp_max}, n={sp_n:,}, unique={sp_uniq:,}, duplicated_entries={dups:,}")
    if dups == 0 and sp_min == 0 and sp_max == sp_n - 1:
        print("Appears to be a contiguous 0..N-1 index (no duplicates).")
    else:
        # Show a few missing indices if close to contiguous
        try:
            if sp_max - sp_min <= 2_000_000 and sp_uniq <= 2_000_000:
                missing = sorted(set(range(sp_min, sp_max + 1)) - set(sp.astype(int).values))
                print(f"Missing indices within [{sp_min}..{sp_max}]: {len(missing)} (showing up to 20): {missing[:20]}")
            else:
                print("Range is large; skipping explicit missing-index enumeration.")
        except Exception as e:
            print("Could not enumerate missing indices:", e)

# Label-like columns quick checks
for cand in ['label_name', 'label_id']:
    if cand in df.columns:
        print("\n" + "*" * 100)
        print(f"{cand} quick summary")
        s = df[cand]
        print("value_counts (top 10, including NaN):")
        print(s.value_counts(dropna=False).head(10))
        if np.issubdtype(s.dtype, np.number):
            try:
                print("min/max:", s.min(), s.max())
            except Exception:
                pass

# Example rows
print("\n" + "="*100)
print("Examples: head(5)")
print(df.head(5))
print("\nExamples: tail(5)")
print(df.tail(5))
try:
    print("\nExamples: random sample(5)")
    print(df.sample(5, random_state=42))
except Exception:
    pass

print("\n=== Done ===")

=== File Info ===
File: ../benchmark/dataset/data/openImg_client_data_mapping_og/test.csv
Exists: True
Size : 9.1 MB

=== DataFrame Shape ===
Rows: 190,135, Cols: 4

=== Columns ===
['client_id', 'sample_path', 'label_name', 'label_id']

=== DTypes ===
client_id       int64
sample_path    object
label_name     object
label_id        int64
dtype: object

Estimated DataFrame RAM: 30.6 MB

=== Missing Values Per Column ===
             null_count  non_null  null_frac
client_id             0    190135        0.0
sample_path           0    190135        0.0
label_name            0    190135        0.0
label_id              0    190135        0.0

=== Per-Column Statistics and Examples ===

====================================================================================================
Column: client_id
  dtype: int64
  unique values: 24,870
  numeric summary:
count    190135.000000
mean       6823.353338
std        5946.756984
min           0.000000
1%           68.000000
5%          336.000000
25%        1993.000000
50%        5042.000000
75%       10358.000000
95%       19183.300000
99%       23230.660000
max       24869.000000
Name: client_id, dtype: float64
  top value_counts (top 10):
client_id
2142    289
689     255
44      243
346     241
404     230
1316    227
395     227
1169    226
865     217
1899    211
Name: count, dtype: int64

====================================================================================================
Column: sample_path
  dtype: object
  unique values: 190,135
  example values (up to 10): ['700b947f0c9cf14f___m_0dzct.jpg' 'a9abebbcdb2631cc___m_0k4j.jpg'
 '06c6da280b35da7e___m_0k4j.jpg' '817d376c47c104b8___m_0k4j.jpg'
 '0909d870459792b8___m_0k4j.jpg' 'ba7b4fee38fa5de2___m_0k4j.jpg'
 '282b752407d7791e___m_0k4j.jpg' 'b973ce2c16767407___m_0k4j.jpg'
 'f9a6ab22f052121f___m_0k4j.jpg' 'ec35c0762ebd444a___m_0k4j.jpg']
  top value_counts (top 10):
sample_path
700b947f0c9cf14f___m_0dzct.jpg      1
7596c3095eb5ad3b___m_0dzf4.jpg      1
e9501d350eddc4a2___m_04hgtk.jpg     1
6f62cccd6c95460b___m_03q69.jpg      1
9e805f877b5b9519___m_03q69.jpg      1
e922684d325afef5___m_03q69.jpg      1
7596c3095eb5ad3b___m_02p0tk3.jpg    1
e922684d325afef5___m_0k0pj.jpg      1
7596c3095eb5ad3b___m_03bt1vf.jpg    1
9e805f877b5b9519___m_07yv9.jpg      1
Name: count, dtype: int64

====================================================================================================
Column: label_name
  dtype: object
  unique values: 576
  example values (up to 10): ['_m_0dzct' '_m_0k4j' '_m_0d4v4' '_m_0k0pj' '_m_083wq' '_m_0271t'
 '_m_01jfm_' '_m_07yv9' '_m_01_bhs' '_m_0h9mv']
  top value_counts (top 10):
label_name
_m_0k4j      10589
_m_083wq      8704
_m_03q69      8345
_m_04hgtk     7568
_m_09j2d      6934
_m_0k0pj      6666
_m_01g317     6179
_m_0dzct      5360
_m_0dzf4      5319
_m_014sv8     5232
Name: count, dtype: int64

====================================================================================================
Column: label_id
  dtype: int64
  unique values: 576
  numeric summary:
count    190135.00000
mean         64.43305
std          99.41416
min           0.00000
1%            0.00000
5%            1.00000
25%          10.00000
50%          23.00000
75%          68.00000
95%         303.00000
99%         479.00000
max         594.00000
Name: label_id, dtype: float64
  top value_counts (top 10):
label_id
5     10589
19     8704
11     8345
10     7568
1      6934
15     6666
2      6179
0      5360
68     5319
17     5232
Name: count, dtype: int64

****************************************************************************************************
Client sample counts summary (by client_id)

Counts describe (clients as rows):
count    24870.000000
mean         7.645155
std         13.397323
min          1.000000
1%           1.000000
5%           1.000000
25%          2.000000
50%          4.000000
75%          8.000000
95%         27.000000
99%         65.000000
max        289.000000
Name: count, dtype: float64

Top 10 clients by number of samples:
client_id
2142    289
689     255
44      243
346     241
404     230
1316    227
395     227
1169    226
865     217
1899    211
Name: count, dtype: int64

Bottom 10 clients by number of samples:
client_id
24869    1
19774    1
6538     1
19777    1
19780    1
19781    1
6528     1
19785    1
6523     1
19788    1
Name: count, dtype: int64

Gini coefficient (client sample imbalance): 0.6059

****************************************************************************************************
label_name quick summary
value_counts (top 10, including NaN):
label_name
_m_0k4j      10589
_m_083wq      8704
_m_03q69      8345
_m_04hgtk     7568
_m_09j2d      6934
_m_0k0pj      6666
_m_01g317     6179
_m_0dzct      5360
_m_0dzf4      5319
_m_014sv8     5232
Name: count, dtype: int64

****************************************************************************************************
label_id quick summary
value_counts (top 10, including NaN):
label_id
5     10589
19     8704
11     8345
10     7568
1      6934
15     6666
2      6179
0      5360
68     5319
17     5232
Name: count, dtype: int64
min/max: 0 594

====================================================================================================
Examples: head(5)
   client_id                     sample_path label_name  label_id
0          0  700b947f0c9cf14f___m_0dzct.jpg   _m_0dzct         0
1          0   a9abebbcdb2631cc___m_0k4j.jpg    _m_0k4j         5
2          0   06c6da280b35da7e___m_0k4j.jpg    _m_0k4j         5
3          0   817d376c47c104b8___m_0k4j.jpg    _m_0k4j         5
4          0   0909d870459792b8___m_0k4j.jpg    _m_0k4j         5

Examples: tail(5)
        client_id                      sample_path label_name  label_id
190130      24865   41a9e4ded5d4f345___m_020jm.jpg   _m_020jm        98
190131      24866   d421756b71c0883a___m_09j5n.jpg   _m_09j5n         3
190132      24867  2d5424960ac071fe___m_0bt9lr.jpg  _m_0bt9lr        85
190133      24868  61fc6445b4544b2f___m_0c9ph5.jpg  _m_0c9ph5         9
190134      24869  bb2f4ee321bae23a___m_014trl.jpg  _m_014trl       198

Examples: random sample(5)
       client_id                      sample_path label_name  label_id
23132        853   dbaa033be5e95bd9___m_09j5n.jpg   _m_09j5n         3
5022         172   33ee34212dcdecd4___m_07yv9.jpg   _m_07yv9        48
1101          44  0ca4113218413093___m_05r655.jpg  _m_05r655        23
48806       2056    7a7ad7084b691cd6___m_0k5j.jpg    _m_0k5j       221
35134       1351   622515db3c408915___m_09j2d.jpg   _m_09j2d         1

=== Done ===

In [3]:
# Inspect FedScale client mapping CSV comprehensively

import os
import pandas as pd
import numpy as np

# Path to mapping CSV
CSV_PATH = "../benchmark/dataset/data/openImg_client_data_mapping_og/validation.csv"

# Display options to avoid truncation
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 160)
pd.set_option('display.max_colwidth', 120)
pd.set_option('display.max_rows', 50)

def fmt_bytes(n):
    try:
        n = int(n)
    except Exception:
        return str(n)
    for u in ['B','KB','MB','GB','TB','PB']:
        if n < 1024:
            return f'{n:.1f} {u}'
        n /= 1024
    return f'{n:.1f} EB'

print("=== File Info ===")
print(f"File: {CSV_PATH}")
exists = os.path.exists(CSV_PATH)
print(f"Exists: {exists}")
if not exists:
    raise FileNotFoundError(CSV_PATH)
print(f"Size : {fmt_bytes(os.path.getsize(CSV_PATH))}")

# Load CSV (let pandas infer dtypes to keep general)
df = pd.read_csv(CSV_PATH)
n_rows, n_cols = df.shape
print("\n=== DataFrame Shape ===")
print(f"Rows: {n_rows:,}, Cols: {n_cols}")

print("\n=== Columns ===")
print(list(df.columns))

print("\n=== DTypes ===")
print(df.dtypes)

try:
    df_mem = df.memory_usage(deep=True).sum()
    print(f"\nEstimated DataFrame RAM: {fmt_bytes(df_mem)}")
except Exception:
    pass

# Missing values summary
print("\n=== Missing Values Per Column ===")
nulls = df.isna().sum().to_frame('null_count')
nulls['non_null'] = len(df) - nulls['null_count']
nulls['null_frac'] = (nulls['null_count'] / len(df)).round(6)
print(nulls)

# Per-column statistics and examples
print("\n=== Per-Column Statistics and Examples ===")
for col in df.columns:
    s = df[col]
    print("\n" + "="*100)
    print(f"Column: {col}")
    print(f"  dtype: {s.dtype}")
    nuniq = s.nunique(dropna=True)
    print(f"  unique values: {nuniq:,}")
    # Numeric vs non-numeric summary
    if np.issubdtype(s.dtype, np.number):
        desc = s.describe(percentiles=[.01, .05, .25, .5, .75, .95, .99])
        print("  numeric summary:")
        print(desc)
    else:
        # Show up to 10 distinct example values
        ex_vals = s.dropna().unique()[:10]
        print("  example values (up to 10):", ex_vals)
    # Top value counts
    vc = s.value_counts(dropna=True).head(10)
    print("  top value_counts (top 10):")
    print(vc)

# Client distribution summary (if client_id present)
if 'client_id' in df.columns:
    print("\n" + "*" * 100)
    print("Client sample counts summary (by client_id)")
    cid_counts = df['client_id'].value_counts().sort_index()
    print("\nCounts describe (clients as rows):")
    print(cid_counts.describe(percentiles=[.01,.05,.25,.5,.75,.95,.99]))
    print("\nTop 10 clients by number of samples:")
    print(cid_counts.sort_values(ascending=False).head(10))
    print("\nBottom 10 clients by number of samples:")
    print(cid_counts.sort_values(ascending=True).head(10))
    # Simple imbalance metric: Gini coefficient
    def gini(x):
        v = np.sort(x.values.astype(np.float64))
        if v.size == 0:
            return np.nan
        i = np.arange(1, v.size + 1)
        return (np.sum((2*i - v.size - 1) * v) / (v.size * np.sum(v)))
    try:
        print(f"\nGini coefficient (client sample imbalance): {gini(cid_counts):.4f}")
    except Exception as e:
        print("Could not compute Gini:", e)

# sample_path integrity checks (if present)
if 'sample_path' in df.columns and np.issubdtype(df['sample_path'].dtype, np.number):
    print("\n" + "*" * 100)
    print("sample_path integrity checks")
    sp = df['sample_path']
    sp_min, sp_max, sp_n, sp_uniq = int(sp.min()), int(sp.max()), len(sp), sp.nunique()
    dups = int(sp.duplicated().sum())
    print(f"min={sp_min}, max={sp_max}, n={sp_n:,}, unique={sp_uniq:,}, duplicated_entries={dups:,}")
    if dups == 0 and sp_min == 0 and sp_max == sp_n - 1:
        print("Appears to be a contiguous 0..N-1 index (no duplicates).")
    else:
        # Show a few missing indices if close to contiguous
        try:
            if sp_max - sp_min <= 2_000_000 and sp_uniq <= 2_000_000:
                missing = sorted(set(range(sp_min, sp_max + 1)) - set(sp.astype(int).values))
                print(f"Missing indices within [{sp_min}..{sp_max}]: {len(missing)} (showing up to 20): {missing[:20]}")
            else:
                print("Range is large; skipping explicit missing-index enumeration.")
        except Exception as e:
            print("Could not enumerate missing indices:", e)

# Label-like columns quick checks
for cand in ['label_name', 'label_id']:
    if cand in df.columns:
        print("\n" + "*" * 100)
        print(f"{cand} quick summary")
        s = df[cand]
        print("value_counts (top 10, including NaN):")
        print(s.value_counts(dropna=False).head(10))
        if np.issubdtype(s.dtype, np.number):
            try:
                print("min/max:", s.min(), s.max())
            except Exception:
                pass

# Example rows
print("\n" + "="*100)
print("Examples: head(5)")
print(df.head(5))
print("\nExamples: tail(5)")
print(df.tail(5))
try:
    print("\nExamples: random sample(5)")
    print(df.sample(5, random_state=42))
except Exception:
    pass

print("\n=== Done ===")

=== File Info ===
File: ../benchmark/dataset/data/openImg_client_data_mapping_og/validation.csv
Exists: True
Size : 3.0 MB

=== DataFrame Shape ===
Rows: 63,063, Cols: 4

=== Columns ===
['client_id', 'sample_path', 'label_name', 'label_id']

=== DTypes ===
client_id       int64
sample_path    object
label_name     object
label_id        int64
dtype: object

Estimated DataFrame RAM: 10.2 MB

=== Missing Values Per Column ===
             null_count  non_null  null_frac
client_id             0     63063        0.0
sample_path           0     63063        0.0
label_name            0     63063        0.0
label_id              0     63063        0.0

=== Per-Column Statistics and Examples ===

====================================================================================================
Column: client_id
  dtype: int64
  unique values: 13,215
  numeric summary:
count    63063.000000
mean      4277.621220
std       3357.451464
min          0.000000
1%          41.000000
5%         241.000000
25%       1443.000000
50%       3501.000000
75%       6500.000000
95%      10936.900000
99%      12633.380000
max      13214.000000
Name: client_id, dtype: float64
  top value_counts (top 10):
client_id
1097    109
148     104
5        93
2078     90
1089     84
206      75
90       75
1849     75
1478     75
540      69
Name: count, dtype: int64

====================================================================================================
Column: sample_path
  dtype: object
  unique values: 63,063
  example values (up to 10): ['f71bb7aa96ae79df___m_09j2d.jpg' 'f71bb7aa96ae79df___m_04hgtk.jpg'
 'f71bb7aa96ae79df___m_0283dt1.jpg' 'f71bb7aa96ae79df___m_0k0pj.jpg'
 'f71bb7aa96ae79df___m_014sv8.jpg' 'f71bb7aa96ae79df___m_0463sg.jpg'
 'f71bb7aa96ae79df___m_0dzf4.jpg' '258e10eb50791802___m_0ch_cf.jpg'
 '62693d8625abb7f3___m_0dzct.jpg' 'bf988beb3c225ea3___m_09j5n.jpg']
  top value_counts (top 10):
sample_path
f71bb7aa96ae79df___m_09j2d.jpg      1
190cebfa446343b3___m_083wq.jpg      1
560df95288a192ac___m_0271t.jpg      1
516a089e0750d8d5___m_02wbm.jpg      1
560df95288a192ac___m_04dr76w.jpg    1
87c93aa31d513a05___m_0284d.jpg      1
26e2fa671b462582___m_0c9ph5.jpg     1
ea28250856658e4a___m_0c9ph5.jpg     1
9c22e204e1aac0c0___m_0c9ph5.jpg     1
ea28250856658e4a___m_0fm3zh.jpg     1
Name: count, dtype: int64

====================================================================================================
Column: label_name
  dtype: object
  unique values: 561
  example values (up to 10): ['_m_09j2d' '_m_04hgtk' '_m_0283dt1' '_m_0k0pj' '_m_014sv8' '_m_0463sg'
 '_m_0dzf4' '_m_0ch_cf' '_m_0dzct' '_m_09j5n']
  top value_counts (top 10):
label_name
_m_0k4j      3490
_m_083wq     2919
_m_03q69     2919
_m_04hgtk    2485
_m_09j2d     2290
_m_0k0pj     2219
_m_01g317    2046
_m_0dzf4     1780
_m_0dzct     1766
_m_014sv8    1730
Name: count, dtype: int64

====================================================================================================
Column: label_id
  dtype: int64
  unique values: 561
  numeric summary:
count    63063.000000
mean        64.779776
std         99.527707
min          0.000000
1%           0.000000
5%           1.000000
25%         10.000000
50%         22.000000
75%         68.000000
95%        302.000000
99%        474.000000
max        591.000000
Name: label_id, dtype: float64
  top value_counts (top 10):
label_id
5     3490
19    2919
11    2919
10    2485
1     2290
15    2219
2     2046
68    1780
0     1766
17    1730
Name: count, dtype: int64

****************************************************************************************************
Client sample counts summary (by client_id)

Counts describe (clients as rows):
count    13215.000000
mean         4.772077
std          6.270669
min          1.000000
1%           1.000000
5%           1.000000
25%          1.000000
50%          3.000000
75%          6.000000
95%         15.000000
99%         32.000000
max        109.000000
Name: count, dtype: float64

Top 10 clients by number of samples:
client_id
1097    109
148     104
5        93
2078     90
1089     84
206      75
90       75
1849     75
1478     75
540      69
Name: count, dtype: int64

Bottom 10 clients by number of samples:
client_id
13214    1
7875     1
7872     1
7868     1
11684    1
3122     1
7854     1
7853     1
3131     1
10504    1
Name: count, dtype: int64

Gini coefficient (client sample imbalance): 0.5207

****************************************************************************************************
label_name quick summary
value_counts (top 10, including NaN):
label_name
_m_0k4j      3490
_m_083wq     2919
_m_03q69     2919
_m_04hgtk    2485
_m_09j2d     2290
_m_0k0pj     2219
_m_01g317    2046
_m_0dzf4     1780
_m_0dzct     1766
_m_014sv8    1730
Name: count, dtype: int64

****************************************************************************************************
label_id quick summary
value_counts (top 10, including NaN):
label_id
5     3490
19    2919
11    2919
10    2485
1     2290
15    2219
2     2046
68    1780
0     1766
17    1730
Name: count, dtype: int64
min/max: 0 591

====================================================================================================
Examples: head(5)
   client_id                       sample_path  label_name  label_id
0          0    f71bb7aa96ae79df___m_09j2d.jpg    _m_09j2d         1
1          0   f71bb7aa96ae79df___m_04hgtk.jpg   _m_04hgtk        10
2          0  f71bb7aa96ae79df___m_0283dt1.jpg  _m_0283dt1        14
3          0    f71bb7aa96ae79df___m_0k0pj.jpg    _m_0k0pj        15
4          0   f71bb7aa96ae79df___m_014sv8.jpg   _m_014sv8        17

Examples: tail(5)
       client_id                      sample_path label_name  label_id
63058      13210   82bb9532872b6ff1___m_04yx4.jpg   _m_04yx4         7
63059      13211  c9ff2a774d643a87___m_0c9ph5.jpg  _m_0c9ph5         9
63060      13212  0963a386442300cd___m_0ch_cf.jpg  _m_0ch_cf       108
63061      13213  9618abbc7c50bc03___m_0bt9lr.jpg  _m_0bt9lr        85
63062      13214   239df0636d3e6167___m_015p6.jpg   _m_015p6        34

Examples: random sample(5)
       client_id                       sample_path  label_name  label_id
55954       9144    49acd8c6e7de8856___m_0f9_l.jpg    _m_0f9_l       239
50908       7461    996f78b924be0be0___m_0qmmr.jpg    _m_0qmmr       434
5369         437  f1e285da9e63b04a___m_0283dt1.jpg  _m_0283dt1        14
2688         205    b93d46346ce71ec3___m_0grw1.jpg    _m_0grw1       119
22138       2166    52ea768073aa6081___m_03qrc.jpg    _m_03qrc       427

=== Done ===