In [8]:
import pandas as pd

BASE = "/Data/baptiste.geisenberger/Data"

files = {
    "openImg_train":       f"{BASE}/openImg/client_data_mapping/train.csv",
    "openImg_test":       f"{BASE}/openImg/client_data_mapping/test.csv",
    "openImg_val":       f"{BASE}/openImg/client_data_mapping/validation.csv",
    "openImg_train_og":       f"{BASE}/openImg/client_data_mapping_og/train.csv",
    "openImg_test_og":       f"{BASE}/openImg/client_data_mapping_og/test.csv",
    "openImg_val_og":       f"{BASE}/openImg/client_data_mapping_og/validation.csv",
    "openImg_train_og_remapped":       f"{BASE}/openImg/client_data_mapping_remapped/train.csv",
}



# files = {
#     "openImg":       f"{BASE}/openImg/client_data_mapping_og/train.csv",
#     "google_speech": f"{BASE}/google_speech/client_data_mapping_og/train.csv",
#     "femnist": f"{BASE}/femnist/client_data_mapping_og/train.csv",
#     "reddit": f"{BASE}/reddit/client_data_mapping_og/train.csv"
# }

In [9]:
dfs = {}
for name, path in files.items():
    dfs[name] = pd.read_csv(path)
print("✅ All files loaded, keys:", list(dfs.keys()))

✅ All files loaded, keys: ['openImg_train', 'openImg_test', 'openImg_val', 'openImg_train_og', 'openImg_test_og', 'openImg_val_og', 'openImg_train_og_remapped']

In [6]:
# Select the dataframe
google_speech_df = dfs["google_speech"]

# Filter for client_id 1134
client_data = google_speech_df[google_speech_df["client_id"] == 1134]

# Print the datapoints
print(len(client_data))

KeyError: 'google_speech'

In [ ]:
for name, df in dfs.items():
    print(f"▶ {name} — {len(df):,} rows × {df.shape[1]} cols")
    print("  Columns:", df.columns.tolist(), "\n")

▶ openImg_train — 1,452,311 rows × 4 cols
  Columns: ['client_id', 'sample_path', 'label_name', 'label_id']

▶ openImg_test — 190,135 rows × 4 cols
  Columns: ['client_id', 'sample_path', 'label_name', 'label_id']

▶ openImg_val — 63,063 rows × 4 cols
  Columns: ['client_id', 'sample_path', 'label_name', 'label_id']

▶ openImg_train_og — 1,229,351 rows × 4 cols
  Columns: ['client_id', 'sample_path', 'label_name', 'label_id']

In [ ]:
for name, df in dfs.items():
    print(f"▶ {name} info:")
    df.info()
    print()

▶ openImg_train info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1452311 entries, 0 to 1452310
Data columns (total 4 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   client_id    1452311 non-null  int64
 1   sample_path  1452311 non-null  object
 2   label_name   1452311 non-null  object
 3   label_id     1452311 non-null  int64
dtypes: int64(2), object(2)
memory usage: 44.3+ MB

▶ openImg_test info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190135 entries, 0 to 190134
Data columns (total 4 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   client_id    190135 non-null  int64
 1   sample_path  190135 non-null  object
 2   label_name   190135 non-null  object
 3   label_id     190135 non-null  int64
dtypes: int64(2), object(2)
memory usage: 5.8+ MB

▶ openImg_val info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63063 entries, 0 to 63062
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   client_id    63063 non-null  int64
 1   sample_path  63063 non-null  object
 2   label_name   63063 non-null  object
 3   label_id     63063 non-null  int64
dtypes: int64(2), object(2)
memory usage: 1.9+ MB

▶ openImg_train_og info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1229351 entries, 0 to 1229350
Data columns (total 4 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   client_id    1229351 non-null  int64
 1   sample_path  1229351 non-null  object
 2   label_name   1229351 non-null  object
 3   label_id     1229351 non-null  int64
dtypes: int64(2), object(2)
memory usage: 37.5+ MB

In [ ]:
for name, df in dfs.items():
    print(f"▶ {name} — 10 random rows")
    display(df.sample(10))

▶ openImg_train — 10 random rows

         client_id                      sample_path label_name  label_id
1291142      11203   26066f29496bd29c___m_0d4v4.jpg   _m_0d4v4       481
980407        8539   77ae651e049ecea5___m_03jm5.jpg   _m_03jm5       240
1353626      11794  25f4145650b7ae13___m_0138tl.jpg  _m_0138tl         9
157353        1393   ba80093bdd05f691___m_09j5n.jpg   _m_09j5n       429
559001        4877   da86fb27bf740383___m_09j2d.jpg   _m_09j2d       428
215508        1919  1de7332761bb0490___m_01bl7v.jpg  _m_01bl7v        49
639814        5590   42532df9a8c7e76d___m_09j2d.jpg   _m_09j2d       428
978696        8526   19ee366a9313fb35___m_0dzct.jpg   _m_0dzct       498
438098        3917   eedd13691ef77ac6___m_09j2d.jpg   _m_09j2d       428
154285        1368  d78a5dabbc617f00___m_01ww8y.jpg  _m_01ww8y       109

▶ openImg_test — 10 random rows

        client_id                       sample_path  label_name  label_id
124939       8332   02384c3c04c4f5aa___m_039xj_.jpg   _m_039xj_       222
10891         717    195c6ee30e3ddb11___m_03q69.jpg    _m_03q69       252
89491        5858   785e94f7571930b5___m_01bqk0.jpg   _m_01bqk0        51
131985       8820    60c69059b4301b19___m_083wq.jpg    _m_083wq       404
124074       8271    a0c5e577c169edb2___m_09j5n.jpg    _m_09j5n       429
123963       8271    45f3b3f9caa5b78c___m_09j5n.jpg    _m_09j5n       429
57420        3684   eb71b3080adf1e57___m_025dyy.jpg   _m_025dyy       134
27431        1682   6a356b4b317fba15___m_05y5lj.jpg   _m_05y5lj       333
17872        1184  e4206d897b944be8___m_03bt1vf.jpg  _m_03bt1vf       227
50200        3174   66f7a45cf53b5900___m_04hgtk.jpg   _m_04hgtk       289

▶ openImg_val — 10 random rows

       client_id                       sample_path  label_name  label_id
49322       9809    fe67317504c74466___m_0hg7b.jpg    _m_0hg7b       550
36707       7283    926f812cd0bfdc86___m_07yv9.jpg    _m_07yv9       399
46050       9136    201f7542b0206399___m_0h9mv.jpg    _m_0h9mv       547
11473       2315   2bb371dc7d9c1509___m_035r7c.jpg   _m_035r7c       219
39367       7887    4285819d7ab87d7a___m_0dzct.jpg    _m_0dzct       498
48054       9545  af0808fe64664295___m_0283dt1.jpg  _m_0283dt1       146
15526       3161   d562ed18906bbb8b___m_04brg2.jpg   _m_04brg2       279
12439       2524     ecdb9f64d554efd7___m_0k4j.jpg     _m_0k4j       565
15805       3209    f01fa87e26297ae6___m_0dzf4.jpg    _m_0dzf4       499
62729      12565    f5d935c8fd3ef252___m_05s2s.jpg    _m_05s2s       330

▶ openImg_train_og — 10 random rows

         client_id                       sample_path  label_name  label_id
390779        1387    fdf3f54cf3fd02bc___m_0dzct.jpg    _m_0dzct         0
63967          145    58337818a91aef87___m_09j5n.jpg    _m_09j5n         3
870583        6241    35fe33451411b3d6___m_09j5n.jpg    _m_09j5n         3
16642           39    3960c409593ddbba___m_01bjv.jpg    _m_01bjv        61
875787        6339   f47e051de8fc61a3___m_0c9ph5.jpg   _m_0c9ph5         9
1067080      11201    407d988baf39ec69___m_0hg7b.jpg    _m_0hg7b        31
364772        1259    278b84ff77a75926___m_06msq.jpg    _m_06msq        35
103039         297   7a18654f2fa66e62___m_01fdzj.jpg   _m_01fdzj        18
53086          131    81e6839010406237___m_09j2d.jpg    _m_09j2d         1
158030         481  a86ca9c50c8ac440___m_0283dt1.jpg  _m_0283dt1        14

In [ ]:
for name, df in dfs.items():
    print(f"▶ {name} — describe()")
    display(df.describe(include="all"))

▶ openImg_train — describe()

           client_id                      sample_path label_name      label_id
count   1.452311e+06                          1452311    1452311  1.452311e+06
unique           NaN                          1452311        596           NaN
top              NaN  001a5504e05a1017___m_01knjb.jpg   _m_0dzct           NaN
freq             NaN                                1     173314           NaN
mean    6.334428e+03                              NaN        NaN  3.216916e+02
std     3.628618e+03                              NaN        NaN  1.717362e+02
min     0.000000e+00                              NaN        NaN  0.000000e+00
25%     3.198000e+03                              NaN        NaN  1.590000e+02
50%     6.345000e+03                              NaN        NaN  3.840000e+02
75%     9.476000e+03                              NaN        NaN  4.810000e+02
max     1.263900e+04                              NaN        NaN  5.950000e+02

▶ openImg_test — describe()

,client_id,sample_path,label_name,label_id
count,190135.000000,190135,190135,190135.000000
unique,NaN,190135,576,NaN
top,NaN,1bdb699e7952718f___m_09j2d.jpg,_m_0k4j,NaN
freq,NaN,1,10589,NaN
mean,6281.812617,NaN,NaN,325.077098
std,3688.736121,NaN,NaN,172.258340
min,0.000000,NaN,NaN,0.000000
25%,2997.000000,NaN,NaN,187.000000
50%,6263.000000,NaN,NaN,330.000000
75%,9440.000000,NaN,NaN,466.500000
max,12639.000000,NaN,NaN,595.000000

▶ openImg_val — describe()

           client_id                      sample_path label_name      label_id
count   63063.000000                            63063      63063  63063.000000
unique           NaN                            63063        561           NaN
top              NaN  10be3f29312a3b84___m_0bt9lr.jpg    _m_0k4j           NaN
freq             NaN                                1       3490           NaN
mean     6306.280164                              NaN        NaN    324.934161
std      3638.776633                              NaN        NaN    171.963906
min         0.000000                              NaN        NaN      0.000000
25%      3199.000000                              NaN        NaN    187.000000
50%      6245.000000                              NaN        NaN    329.000000
75%      9362.500000                              NaN        NaN    466.000000
max     12639.000000                              NaN        NaN    595.000000

▶ openImg_train_og — describe()

           client_id                     sample_path label_name      label_id
count   1.229351e+06                         1229351    1229351  1.229351e+06
unique           NaN                         1229351        595           NaN
top              NaN  1ea021de60b3cd89___m_09j2d.jpg   _m_0dzct           NaN
freq             NaN                               1     148776           NaN
mean    5.063484e+03                             NaN        NaN  3.782155e+01
std     5.642415e+03                             NaN        NaN  6.727309e+01
min     0.000000e+00                             NaN        NaN  0.000000e+00
25%     1.017000e+03                             NaN        NaN  2.000000e+00
50%     2.952000e+03                             NaN        NaN  1.200000e+01
75%     7.260000e+03                             NaN        NaN  4.000000e+01
max     4.247900e+04                             NaN        NaN  5.950000e+02

In [10]:
for name, df in dfs.items():
    counts = df["client_id"].value_counts().sort_index()
    print(f"▶ {name}: {counts.size:,} unique clients")
    print("  Samples per client (first 10):")
    print(counts.head(10).to_dict())
    print("  Stats:", counts.describe().to_dict(), "\n")

▶ openImg_train: 12,640 unique clients
  Samples per client (first 10):
{0: 76, 1: 50, 2: 52, 3: 300, 4: 53, 5: 253, 6: 60, 7: 65, 8: 135, 9: 45}
  Stats: {'count': 12640.0, 'mean': 114.89802215189873, 'std': 167.81374333697912, 'min': 44.0, '25%': 58.0, '50%': 73.0, '75%': 110.0, 'max': 6934.0}

▶ openImg_test: 12,640 unique clients
  Samples per client (first 10):
{0: 6, 1: 6, 2: 6, 3: 13, 4: 11, 5: 5, 6: 5, 7: 5, 8: 80, 9: 6}
  Stats: {'count': 12640.0, 'mean': 15.042325949367088, 'std': 28.739048944264518, 'min': 2.0, '25%': 5.0, '50%': 7.0, '75%': 15.0, 'max': 908.0}

▶ openImg_val: 12,639 unique clients
  Samples per client (first 10):
{0: 5, 1: 7, 2: 3, 3: 4, 4: 4, 5: 13, 6: 3, 7: 3, 8: 3, 9: 2}
  Stats: {'count': 12639.0, 'mean': 4.989556135770235, 'std': 11.996308913687278, 'min': 1.0, '25%': 2.0, '50%': 2.0, '75%': 5.0, 'max': 875.0}

▶ openImg_train_og: 11,325 unique clients
  Samples per client (first 10):
{0: 527, 2: 3451, 3: 116, 4: 454, 7: 83, 9: 30, 10: 2812, 11: 58, 12: 263, 14: 130}
  Stats: {'count': 11325.0, 'mean': 108.5519646799117, 'std': 211.63749111743905, 'min': 20.0, '25%': 30.0, '50%': 50.0, '75%': 103.0, 'max': 6709.0}

▶ openImg_test_og: 24,870 unique clients
  Samples per client (first 10):
{0: 106, 1: 40, 2: 29, 3: 12, 4: 22, 5: 6, 6: 8, 7: 115, 8: 9, 9: 62}
  Stats: {'count': 24870.0, 'mean': 7.645154804985927, 'std': 13.397322796689718, 'min': 1.0, '25%': 2.0, '50%': 4.0, '75%': 8.0, 'max': 289.0}

▶ openImg_val_og: 13,215 unique clients
  Samples per client (first 10):
{0: 8, 1: 37, 2: 3, 3: 8, 4: 9, 5: 93, 6: 2, 7: 15, 8: 5, 9: 9}
  Stats: {'count': 13215.0, 'mean': 4.772077185017026, 'std': 6.270668844833167, 'min': 1.0, '25%': 1.0, '50%': 3.0, '75%': 6.0, 'max': 109.0}

▶ openImg_train_og_remapped: 11,325 unique clients
  Samples per client (first 10):
{0: 527, 2: 3451, 3: 116, 4: 454, 7: 83, 9: 30, 10: 2812, 11: 58, 12: 263, 14: 130}
  Stats: {'count': 11325.0, 'mean': 108.5519646799117, 'std': 211.63749111743905, 'min': 20.0, '25%': 30.0, '50%': 50.0, '75%': 103.0, 'max': 6709.0}